@import "tailwindcss";

:root{
  --primary: #0d3b66;
  --secondary: #ff7f11;
  --danger: #ff5555;
  --white: #ffffff;
}
.text-primary{
  color: var(--primary);
}
.text-secondary{
  color: var(--secondary);
}
.text-white{
  color: var(--white);
}
.bg-primary{
  background-color: var(--primary);
}
.bg-white{
  background-color: var(--white);
}
.border-white{
  border-color: var(--white);
}
.border-primary{
  border-color: var(--primary);
}
.text-danger{
  color: var(--danger);
}

.heroSectionBG{
  background-size: 100%;
  background-image: url('../assets//images/herosection-image.jpg');
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
