@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #0d3b66;
  --secondary: #ff7f11;
  --danger: #ff5555;
  --white: #ffffff;

  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-white {
  color: var(--white);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: var(--white);
}
.border-white {
  border-color: var(--white);
}
.border-primary {
  border-color: var(--primary);
}
.text-danger {
  color: var(--danger);
}
.dark {
  --background: #1e1e1e;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
}
